<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="text/javascript" src="./jquery.min.js"></script>
	<script type="text/javascript" src="./js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./vue.min.js"></script>
	<script type="text/javascript" src="./main.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/weather-icons.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./weather.css">

</head>
<body>
	<div class="container" id="weather">
		<div id="home-page">
			<div id="background">
				<!--<img id="background-img" src="https://picsum.photos/600/?random">-->
			</div>
			<!-- <button type="button" class="btn btn-default">Btn1</button> -->
			<div id="content">
				<div id="city" v-on:change="refresh">
					{{city}}
					<div v-on:click="refresh" v-if="isRefreshBtnShow" id="refreshBtn" class="btn btn-lg btn-default">
						<i class="wi wi-refresh"></i>
					</div>
				</div>
				<div id="temperture">
					<span id="temp-num">{{temperture}}</span>
					<span id="unit">{{tempUnit}}</span>
					<span><i class="wi wi-day-sunny"></i></span>
				</div>
				<!-- <div>
					<input v-model="cityName" type="radio" name="pop-city" value="Beijing">北京
					<input v-model="cityName" type="radio" name="pop-city" value="Shanghai">上海
					<input v-model="cityName" type="radio" name="pop-city" value="Guangzhou">广州
					<input v-model="cityName" type="radio" name="pop-city" value="Shenzhen">深圳
				</div> -->

			</div>
			<div id="detail">
				<div v-on:click="toForecast" id="forecastBtn">Down</div>
			</div>
		</div>
		<div id="forecast-page">
			<div>

			</div>
			<div id="forecast-content" class="well">
				<div>
					<div class="forecast-icon">
						<span><i class="wi wi-day-sunny-overcast"></i></span>
					</div>
					<div class="forecast-temp">
						<span>21</span>
						<span><i class="wi wi-celsius"></i></span>
					</div>
					<div class="forecast-time">
						<span>2018-2-15</span>
						<span><i class="wi wi-time-6"></i></span>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>