/*.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}*/

#container {
	position: relative;
}

img#background-img {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

#content {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	/*transform: translateY(-50%);*/
	/*margin-left: auto;
	margin-right: auto;*/
}